section,
footer,
.standart-head,
.presentation-slider,
.student-aside {
  transition: $transition-theme background-color ease;
}

header {
  transition: $transition-theme background-color ease, 0.3s box-shadow ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  transition: $transition-theme color ease;
}

.fill-white {
  fill: $white;
  transition: $transition-theme fill ease;
}

.fill-black {
  fill: $black;
  transition: $transition-theme fill ease;
}

.fill-black--white {
  fill: $black;
  stroke: $white;
  transition: $transition-theme fill ease, $transition-theme stroke ease;
}

.fill-black--black {
  fill: $black;
  stroke: $black;
  transition: $transition-theme fill ease, $transition-theme stroke ease;
}

.stroke-black {
  stroke: $black;
  transition: $transition-theme stroke ease;
}
