// Color
$green: #39B100;
$green-hover: #2E8E00;
$red: #EF4036;
$red-hover: #D62A20;
$grey-bg: #F7F7F7;
$grey-text: #4B4B4B;
$grey-disabled: #D8D8D8;
$white: white;
$black: #251C1C;

// Dark Color
$green: #39B100;
$green-hover: #2E8E00;
$red: #EF4036;
$red-hover: #D62A20;
$grey-bg: #1e1e1e;
$grey-text: #bebebe;
$grey-disabled: #D8D8D8;
$white: black;
$black: white;


// Indent
$section-y: 80px;
$section-x: 20px;

$section-top-mobile: 50px;
$section-bottom-mobile: 40px;

// Border Radius
$border: 2px;
$border-image: 5px;


// transition
$transition: 0.3s all ease;
$transition-transform-text: 0.6s transform ease, 0.3s color ease;